[Unit]
Description=SystemRescueCd Keyboard Configuration
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/sysresccd-setkmap
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
